.pageHeader {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.list {
    display: flex;
    
    
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}
.shop {
    flex-basis: 200px;
    padding-right: 50px;
    margin-right: 10px;
    border: dotted 2px black;
    align-content: flex-end;
    flex: wrap;
}